#titulo, h6 {
    text-align: center;
}

#titulo {
    margin-top: 150px;
}

h1 {
    color: #35404e;
    margin-top: 50px;
}

h6 {
    color: #8492a6;
}

main img {
    width: 570px;
    height: 600px; 
}

.bi-check-circle {
    font-size: 30px;
    margin-left: 100px;
}

main h3 {
    margin-left: 10px;
}

#subtitulo {
    margin-top: 30px;
}

.textos h6 {
    text-align: left;
    margin-bottom: 30px;
}

.col-6 h3 {
    display: inline;
}

.textos {
    margin-top: 200px;
}

.textos h6 {
    text-align: center;
}

#container2 {
    margin-bottom: 100px;
}

#container2 h1 {
    margin-bottom: 50px;
}

#container2 h2 {
    margin-top: 30px;
}

.bi-arrow-return-right {
    color: #ffcc00;
    font-size: 30px;
}

.bi-star {
    color: #ffcc00;
    font-size: 30px;
}

.bi-lightning {
    font-size: 30px;
    color: #ffcc00;
}

.col-4 {
    box-shadow: 1px 1px 5px lightslategray;
    height: 480px;
    width: 350px;
    text-align: center;
    border-radius: 20px;
    margin: 0px 5px;
}

.col-4 button {
    margin-top: 80px;
}

.col-4 h2 {
    margin-bottom: 25px;
}