.centralizado {
    text-align: center;
}

.caixa-equipe {
    text-align: center;
    padding: 10px;
    padding-top: 20px;
    box-shadow: 1px 1px 5px #cdcdcd;
    height: 350px;
    width: 300px;
    border-radius: 20px;
    border: 30px;
    margin-left: auto;
    margin-right: auto;
}

.icone{
    transition: 0.17s ease-in-out;
}

.imagemicone:hover {
    position: relative;
    transform: scale(1.06);
}

.nomes {
    font-weight: bold;
    margin-bottom: 7px;
    transition: 0.17s ease-in-out;
}

main {
    margin-top: 70px;
}

.azulotter {
    color: #003988;
}

.linhapreta {
    margin-bottom: 60px;
    margin-top: 30px;
}

.main {
    margin-bottom: 60px;
}

.descricao {
    display: flex;
}

.imagemicone {
    transition: 0.17s ease-in-out;
}