.centralizado {
    text-align: center;
}

.caixa-equipe {
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

.icone{
    transition: 0.17s ease-in-out;
}

.icone:hover {
     width: 210px;
}

.nomes {
    font-weight: bold;
    margin-bottom: 7px;
    transition: 0.17s ease-in-out;
}

.nomes:hover {
    font-size: 18px;
}

main {
    margin-top: 70px;
}